.App {
  text-align: center;
}

.navbar-brand a{
  font-size: 20px;  
}

.navbar-brand img{
  padding-right:10px !important;
}

.hidden { display:none; }

.jumbotron {
  background-color: #f3f9f1 !important;
  border: 2px dashed black !important;
}

textarea {
  overflow: auto;
  resize: vertical;
  border: 1px dotted black;
  background-color: #def4ff;
  color: #29296b;
  font-size: 14px;
  padding: 10px;
  margin-top: 2px;
}

.btn-sm{
  width: 250px !important;
  text-align: left;
}